/**
 * The menu is technically the header of the site, it contains the styles for the drop down of the Search Bar.
 *
 */

$lineHeightForNav: $headerHeight;
$lineHeightForSearch: 50px;
$navItemFontSize: 17px;

.menu {
  width: 100%;
  position: relative;
  background-color: #040a2b;
  padding: 0 1.25rem;
  height: $headerHeight;
  display: flex;
  align-items: center;
}

.menu-navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: stretch;
  max-width: $siteWidth;
  margin: 0 auto;

  > * {
    display: flex;
    align-items: center;
  }
}

.menu-logo {
  h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: white;
  }
}

.menu-nav {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  flex: 1;
  margin: 0 3.25rem;

  .nav-item {
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: $navItemFontSize;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
    padding: 0.5rem;
  }
}

.search-container {
  position: relative;
  flex: 1;
  margin-left: auto;

  &.showing {
    display: block;
  }

  input[type="text"] {
    font-size: $navItemFontSize;
    height: 100%;
    flex: 1;
    border: none;
    outline: none;
    box-shadow: none;
    background-color: white;
    padding: 0.5rem 0.75rem;
    border-radius: 0;
  }

  button {
    position: absolute;
    top: 50%;
    right: 2px;
    transform: translateY(-50%);
    cursor: pointer;
  }

  i.close {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 36px;
    line-height: $lineHeightForSearch;
  }
}
