/**
* This is the main stylesheet for the sass compiler, all imports should stem from this initial page.
* It contains the universal styles of the site, the imports and various other items.
*/
// Colours and settings
$siteWidth: 80rem;
$headerHeight: 4.375rem;
$navItemFontSize: 1.125rem;

// Global styles should be imported first
@import "global";

// Page styles
@import "pages/home";

// Component styles
@import "components/menu";
@import "components/navbar";
@import "components/searchbar";
@import "components/searchResults";
@import "components/siteHeader";
